@import 'colors.scss';

.text, .pale, .accent, .link {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 22px;
}

.text {
  color: $text;
}

.pale {
  color: $pale;
}

.accent {
  color: $accent;
}

.error {
  color: $error;
}

.link {
  color: $link;
  text-decoration: none;
  &:hover {
    cursor: pointer;
    color: $link-hover;
  }
}

.bold {
  font-weight: 700 !important;
}

.italic {
  font-style: italic !important;
};

.small {
  font-size: 12px !important;
}

