@mixin wrap($padding) {
  .wrap {
    padding: $padding;
    margin: 0;
    box-sizing: border-box;
  }
}

@include wrap(8px 8px);

@media (min-width: 576px) {
  @include wrap(8px 8px);
}

@media (min-width: 768px) {
  @include wrap(8px 12px);
}

@media (min-width: 992px) {
  @include wrap(8px 24px);
}

@media (min-width: 1200px) {
  @include wrap(8px 24px);
}

