@import 'src/app/styles/normalize.scss';
@import 'src/app/styles/margins.scss';
@import 'src/app/styles/paddings.scss';
@import 'src/app/styles/fonts.scss';
@import 'src/app/styles/colors.scss';
@import 'src/app/styles/grid.scss';
@import 'src/app/styles/flex.scss';
@import 'src/app/styles/headers.scss';
@import 'src/app/styles/wrap.scss';
@import 'src/app/styles/typography.scss';
@import 'src/app/styles/display.scss';
@import 'src/app/styles/other.scss';
@import 'src/app/styles/reset.scss';
@import 'src/app/styles/overflow.scss';
@import 'src/app/styles/lists.scss';

.bcg {
  background-color: red;
  width: 300px;
  height: 200px;
}
